.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ede7e3;
  font-family: "Roboto";
}

h1 {
  padding: 20px;
  color: #16697a;
}

.albumCover {
  max-width: 300px;
}

.inputTitle {
  margin-bottom: 10px;
  color: #212121;
  background-color: #82c0cc;
  border-color: #82c0cc;
  border-radius: 4px;
  height: 20px;
}

.inputDesc {
  margin-bottom: 10px;
  color: #212121;
  background-color: #82c0cc;
  border-color: #82c0cc;
  border-radius: 4px;
  height: 60px;
}

.inputSubmit {
  padding: 4px 8px;
  margin-top: 4px;
  margin-left: 212px;
}

.boxPlaylist {
  margin: 20px;
  padding: 20px;
  border: 4px solid #489fb5;
  background: #82c0cc;
  border-radius: 24px;
  max-width: 300px;
}

.text {
  color: #212121;
  font-size: 20px;
}

#trackTitle {
  font-weight: 500;
}

.buttonSelect {
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  background-color: #ede7e3;
  border-radius: 8px;
  border-color: #489fb5;
}